body
{
/*	background: repeating-linear-gradient(
  45deg,
  green,
  green 4px,
  white 4px,
  white 8px
);*/
background-color: #FE9F10;
padding-top: 70px;
}
.navbar
{
  border: solid 1px black;
/*  padding-left: 20%;*/
  /*height: 100px;*/

}
.jumbotron
{
  border: solid 1px black;
}
.slide
{
	width: 100%;
}
.carousel-caption
{
	background-color: rgba(0,0,0, 0.7);
	border-radius: 10px;
}
.temoin,.partenaire,.contact
{
	background-color: white;
	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
}
@media screen and (max-width: 991px)
{
	.temoin,.partenaire,.contact
	{
    	width: 98%;
	}
}
.t_img
{
	padding-left: auto;
	padding-right: auto;
}
.p-img
{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}
.p-img:hover
{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}
.contact
{
	padding-left: 1%;
	border-radius: 10px;
}
#info,#rib,#ayants-droit
{
  display: none;
}
#loginmenu
{
  padding: 10px;
}
#deconnection,#mesinfos,#mesnotifs
{
  display: none;
}
#formNom,#formAdresse,#formTel,#formMail,#formPrenom,#update,#formContact
{
  display: none;
}
#social-ul
{
  display: inline-flex;
  list-style-type: none;
}
.social
{
  margin-right: 10px;
}
.active
{
  background-color: green;
}
