body
{
/*	background: repeating-linear-gradient(
  45deg,
  green,
  green 4px,
  white 4px,
  white 8px
);*/
background-color: #FE9F10;
padding-top: 100px;
}
/*.nav
{
//  height: 100px;
  margin: auto;
}*/
.navbar-brand
{
  padding: 0px 0px;
  margin-right: 15px;
}
.navbar
{
  border: solid 1px black;
/*  padding-left: 20%;*/
  /*height: 100px;*/

}
.jumbotron
{
  border: solid 1px black;
}
#update
{
  display: none;
}
thead
{
  background-color: #F8F8F8;
}
td
{
  border-left: solid 1px black;
  border-right: solid 1px black;
  }
