{% extends "layout.twig" %}

{% block title %}Bases{% endblock %}
{% block head %}
  {{ parent() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <h1>Vos bases de données dans MySQL</h1>
    <p>Pour ajouter une nouvelle base de données cliquez sur le bouton suivant : <button type="button" id="new-base" class="btn btn-success">Créer une base !</button></p>
    <div class="alert alert-success" role="alert" id="update">Mise à jour de vos informations avec succès !</div>
    <table id="table_id">
      <thead>
        <td>Nom de la base</td>
        <td>Editer la base</td>
        <td>Supprimer la base</td>
      </thead>
      <tbody id="tableBodyBASE">
      {% for base in bases %}
        <tr>
          <td><a href="./base.php?db={{ base }}">{{ base }}</a></td>
          <td><button type="button" class="btn btn-info edit-base">Editer</button></td>
          <td><button type="button" class="btn btn-warning del-base">Supprimer</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



  <div class="modal fade" tabindex="-1" role="dialog" id="delModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Confirmer la suppression</h4>
        </div>
        <div class="modal-body">
          <p>Etes vous sur de vouloir supprimmer cette base de données ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-success" id="delete-oui">Supprimer</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="modifModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modifier les informations de mon ayants droits</h4>
      </div>
      <div class="modal-body" id="modbody">
        <p>Merci de modifier les informations et de cliquer sur le bouton enregistrer pour que les modification soient effectives.</p>
        <form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="newModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ajouter une nouvelle base de donnée</h4>
      </div>
      <div class="modal-body" id="newbody">
        <p>Merci de remplir les informations et de cliquer sur le bouton enregistrer pour que les modification soient effectives.</p>
        <form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

{% endblock %}
